@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Style */

.bodyfix_width{

    max-width: 1270px;

}


.making_center{

    margin: 0 auto;

}

/* Shared Style */

*{

    margin: 0;

}


body{
    
    font-family: 'Work Sans', sans-serif;
}




/* nav bar section */
nav{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 0;
}

.navbar{

    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    color: #3C354F;
    
  
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.followus_text{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.9rem ;
    border-radius: 0.5rem;
    padding: 1rem 0.2rem;
    background: rgba(11, 2, 35, 0.10);

}

.followus_text img {
   padding: 0 0.7rem;
}

.followus_text a{

    padding: 0 0.7rem;

}

.navbar li{
    list-style: none;

}
.navbar li a{
    text-decoration: none;
    color: #3C354F;
}
.logo-text{
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.logo-text{

    text-align: center;
    
    font-size: 2.2rem;
    
    font-weight: 700;
  
}
.logo-text span{

    color: #FF42A5;
}

/* Banner section */

.banner-container{
    
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.banner-text{
    flex: 2;
    background-image: url('/images/Group 14.png');
    background-size: 100%;

    
}
.banner-image{
    flex: 1;
    
}

.banner-image img{

    width: 35rem;

}
.banner-main-text{

    margin: 9.4rem auto;

    width: 50%;
}

.banner-subheading{

    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 5rem;

    font-weight: 800;
    line-height: normal;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-icon img{
    width: 1.3rem;
    margin-right: 1rem;

}

.banner-icon p{

    margin: 0.7rem 0;
    display: flex;

}
.primary-btn{

    color: #fff;
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 1rem 1.8rem;
    margin: 1rem 1rem 0 0;

}

#btn-rogue{

    background: #4EC5F7;;
}
/* This banner Style */


/* This is gamer section style */
.gamer{

    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


   
}

.gamer-container{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.gamer-image img{
    width: 650px ;
   
}

.gamer-text{
    text-align: right;
}
.gamer-title{

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2.8rem;
    font-weight: 700;
    
}
.gamer-details{

    color: #534C64;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 1rem 0;
}

/* This is gamer section style */


/* Responsive section */

@media screen and (max-width: 576px) {

    nav, .navbar, .gamer-container {
        flex-direction: column;
        
        align-items: center;
        
    }

    .navbar{

        margin-top: 10px;
        padding: 0;
    }

    /* Banner resposnsive section */
    .banner-container{
        max-width: 1270px;
        margin: 0 auto;
        flex-direction: column-reverse;
        padding: 0 20px;
       
       
    }
   
    .banner-image img{
        width: 400px;
    }

    .primary-btn{
        padding: 1rem 1rem;
        margin: .7rem 0;

    }

    .banner-main-text{

        margin: 9.4rem auto;
        padding: 10px;
        width: 300px;
    }

    /* Banner resposnsive section */

    /* gammer section */
    .gamer{
        background: none;
    }
    .gamer-container{
        padding: 0 30px;
    }
    .gamer-image img{

        width: 400px ;
       
    }

    .gamer-text{
        text-align: center;
    }


    /* gammer section */
   

}

/* Tab Responsive section */
@media screen and (min-width:576px) and (max-width: 960px){

    nav, .navbar, .gamer-container{
        flex-direction: column;
        
        align-items: center;
        
    }

    .navbar{

        margin-top: 10px;
        padding: 0;
    }

    /* Banner resposnsive section */
    .gamer{
        background: none;
    }
    .banner-container{

        max-width: 1270px;
        margin: 0 auto;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 20px;
       
       
    }
   
    .banner-image img{
        width: 400px;
    }

    .primary-btn{
        padding: 1rem 1rem;
        margin: .7rem 0;

    }

    .banner-main-text{

        margin: 9.4rem auto;
        padding: 10px;
        width: 100%;
    }


    /* gammer section */
      .gamer-container{
        padding: 0 30px;
    }
    .gamer-image img{

        width: 400px ;
       
    }

    .gamer-text{
        text-align: center;
    }


    /* gammer section */


}
