@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Style */
.bodyfix_width{

    max-width: 1200px;

}


.making_center{

    margin: 0 auto;

}

/* Shared Style */

*{

    margin: 0;

}


body{
    
    font-family: 'Work Sans', sans-serif;
}




/* nav bar section */
nav{
    
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 0;
}

.navbar{

    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    color: #3C354F;
    
  
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.followus_text{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.9rem ;
    border-radius: 0.5rem;
    padding: 1rem 0.2rem;
    background: rgba(11, 2, 35, 0.10);

}

.followus_text img {
   padding: 0 0.7rem;
}

.followus_text a{

    padding: 0 0.7rem;

}

.navbar li{
    list-style: none;

}
.navbar li a{
    text-decoration: none;
    color: #3C354F;
}
.logo-text{
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.logo-text{

    text-align: center;
    
    font-size: 2.2rem;
    
    font-weight: 700;
  
}
.logo-text span{

    color: #FF42A5;
}

/* Banner section */


/* Responsive section */

@media screen and (max-width: 576px) {

    nav, .navbar{
        flex-direction: column;
        
        align-items: center;
        
    }

    .navbar{

        margin-top: 10px;
        padding: 0;
    }
   

}

/* Tab Responsive section */
@media screen and (min-width:576px) and (max-width: 960px){

    nav, .navbar{
        flex-direction: column;
        
        align-items: center;
        
    }

    .navbar{

        margin-top: 10px;
        padding: 0;
    }
   

}
